In [225]:
import pandas as pd

In [226]:
general_information = pd.read_csv('data/general_information_bkp.csv', low_memory=False)
type_and_level = pd.read_csv('data/type_and_level_bk.csv', low_memory=False)
geographical_facilities = pd.read_csv('data/geographical_facilities_bkp.csv', low_memory=False)
buildings_and_library = pd.read_csv('data/buildings_and_library.csv', low_memory=False)
compliance1 = pd.read_csv('data/compliance_1_bkp.csv', low_memory=False)
compliance2 = pd.read_csv('data/compliance_2_bkp.csv', low_memory=False)
compliance3 = pd.read_csv('data/compliance_3_bkp.csv', low_memory=False)
compliance4 = pd.read_csv('data/compliance_4_bkp.csv', low_memory=False)
divisions = pd.read_csv('data/divisions_bkp.csv', low_memory=False)
districts = pd.read_csv('data/districts_bkp.csv', low_memory=False)
thanas = pd.read_csv('data/thanas_bkp.csv', low_memory=False)
pbgsi_institutions = pd.read_csv('data/pbgsi_7000_ins_bkp.csv', low_memory=False)
institute_type = pd.read_csv('configs/institution_type.csv', low_memory=False)
student_type = pd.read_csv('configs/student_types.csv', low_memory=False)
divisions = pd.read_csv('data/divisions_bkp.csv', low_memory=False)
districts = pd.read_csv('data/districts_bkp.csv', low_memory=False)
thanas = pd.read_csv('data/thanas_bkp.csv', low_memory=False)
approval_status = pd.read_csv('configs/approval_status.csv', low_memory=False)
boards = pd.read_csv('configs/boards.csv', low_memory=False)
boundary_types = pd.read_csv('configs/boundary_type.csv', low_memory=False)
emis_submission_types = pd.read_csv('configs/emis_submission_types.csv', low_memory=False)
fiscal_years = pd.read_csv('configs/fiscal_years.csv', low_memory=False)
geographical_location_types = pd.read_csv('configs/geographical_locations_type.csv', low_memory=False)
highest_levels = pd.read_csv('configs/higest_levels.csv',low_memory=False)
management_type = pd.read_csv('configs/management_types.csv', low_memory=False)
mpo_status = pd.read_csv('configs/mpo_status.csv', low_memory=False)
ownership_types = pd.read_csv('configs/ownership_type.csv', low_memory=False)
pass_rate_types = pd.read_csv('configs/pass_rate_type.csv', low_memory=False)
sexual_harassment_committee_activity_type = pd.read_csv('configs/sexual_harassment_committee_activity_type.csv', low_memory=False)
students_attendance_types = pd.read_csv('configs/students_attendance_type.csv', low_memory=False)
teachers_attendance_types = pd.read_csv('configs/teachers_attendance_type.csv', low_memory=False)
technical_types = pd.read_csv('configs/technical_type.csv', low_memory=False)
ward_type = pd.read_csv('configs/ward_type.csv', low_memory=False)

In [227]:
general_information = general_information[general_information['submitted']==1]
general_information = general_information[general_information['active_status'].isnull()]

In [228]:
merged = pd.merge(general_information, type_and_level, left_on=general_information.eiin.name, right_on=type_and_level.eiin.name, how='inner', suffixes=('', '_type_and_level'))

In [229]:
institute_type.head()

   institute_type_id institute_type_name institute_type_name_en
0                  1               স্কুল                 SCHOOL
1                  2     স্কুল এন্ড কলেজ     SCHOOL AND COLLEGE
2                  3                কলেজ                COLLEGE
3                  4            মাদ্রাসা               MADRASHA
4                  5       কওমী মাদ্রাসা         QAOMI MADRASHA

In [230]:
highest_levels.head(20)

    higest_level_id                 highest_level_name
0                 1                    নিম্ন মাধ্যমিক
1                 2                           মাধ্যমিক
2                 3                      উচ্চ মাধ্যমিক
3                16                           ডিপ্লোমা
4                 4                             স্নাতক
5                 5                        স্নাতকোত্তর
6                 6                              দাখিল
7                 7                               আলিম
8                 8                              ফাযিল
9                 9                              কামিল
10               10                       হিফজুল কুরআন
11               12        আল-মারহালাতুল মুতাওয়াসসিতাহ
12               13  আল-মারহালাতুল সানাবিয়াতুল’ উলাইয়া
13               14                  মারহালাতুল ফযীলাত
14               15                  মারহালাতুল তাকমিল

In [231]:
merged = pd.merge(merged, institute_type, left_on=merged.institution_type.name, right_on=institute_type.institute_type_id.name, how='inner', suffixes=('', '_institution_type'))

In [232]:
merged = pd.merge(merged, compliance1, on='eiin', suffixes=('', '_cmp1'))

In [233]:
merged = merged[merged['maximum_level'].isin([10,12,13,14,15])]
#merged = merged[merged['institute_type_id']==5]

In [234]:
eleven_col_name = merged['total_students_eleven'].name
twelve_col_name = merged['total_students_twelve'].name
df_valid_qaomi = merged[
    (merged.total_students_six > 0) |
    (merged.total_students_eight > 0) |
    (merged.total_students_nine > 0) |
    (merged.total_students_ten > 0) |
    (merged[eleven_col_name] > 0) |
    (merged[twelve_col_name] > 0)
]

In [235]:
df_valid_qaomi.head()

,id,institution_name_bangla,institution_name_english,address_village_holding,address_road,address_post_office,address_post_code,[union],address_ward,address_thana,...,total_students_part_8,female_students_part8,female_students_part_1,female_students_part_2,female_students_part_3,female_students_part_4,female_students_part_5,female_students_part_6,female_students_part_7,female_students_part_8
18031,206476,"ঠাকুরকাঠি, চেচুয়াখোলা, ভুলবাড়িয়া গলগলিয়া আদর্শ...",T.C.B. GOLGOLIA IDEAL JUNIOR SCHOOL,GOLGOLIA,BAGHERPARA TO DOLGA,BAGHERPARA,7470,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31159,219945,রসুলপুর মাধ্যমিক বিদ্যালয়।,RASULPUR SECONDARY SCHOOL,RASULPUR,MAZOR ZAMAN,ROSULPOR,9400,NaN,NaN,492.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35332,224252,দৌলতপুর কলেজ (দিবা-নৈশ),DAULATPUR COLLEGE (DAY-NIGHT),102/DAY NIGHT COLLAGE . SHARIF AMJAD HOSSAIN ROAD,2,G.P.O,9202,NaN,NaN,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36009,225868,ভোলানাথপুর দারুল উলুম মাদরাসা,VHOLANATHPUR DARULULOOM MADRASHA,VHOLANATHPUR.BETAGI.BARGUNA,Vholanathpur Kheyaghat Road,Betagi,8740,NaN,NaN,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36013,225873,লক্ষীখোলা দারুল উলুম ইসহাকিয়া মাদ্রাসা ও এতিমখানা,LAXMIKHOLA DARUL ULUM ISHAKIA MADRASA & ATIMKHANA,LAXMIKHOLA,LAXMIKHOLA,LAXMIKHOLA,9270,NaN,NaN,131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
df_valid_qaomi = pd.merge(df_valid_qaomi, highest_levels, left_on=df_valid_qaomi.maximum_level, right_on=highest_levels.higest_level_id, how='inner', suffixes=('', '_highest_level'))

In [237]:
highest_level_name_col = df_valid_qaomi['highest_level_name'].name

df_institution_count_by_level = (
    df_valid_qaomi
    .groupby(highest_level_name_col)
    .size()
    .reset_index(name='total_institution')
)

In [238]:
df_institution_count_by_level.head()

                  highest_level_name  total_institution
0        আল-মারহালাতুল মুতাওয়াসসিতাহ               1451
1  আল-মারহালাতুল সানাবিয়াতুল’ উলাইয়া               1027
2                  মারহালাতুল তাকমিল               1067
3                  মারহালাতুল ফযীলাত                736
4                       হিফজুল কুরআন                442

In [239]:
total_teachers_col = df_valid_qaomi['teachers_count_total'].name

df_teachers_count_by_level = (
    df_valid_qaomi
    .groupby(highest_level_name_col)[total_teachers_col]
    .sum()
    .astype(int)
    .reset_index(name='total_teachers')
)

In [240]:
df_teachers_count_by_level.head()

                  highest_level_name  total_teachers
0        আল-মারহালাতুল মুতাওয়াসসিতাহ           12096
1  আল-মারহালাতুল সানাবিয়াতুল’ উলাইয়া           11242
2                  মারহালাতুল তাকমিল           22114
3                  মারহালাতুল ফযীলাত           10941
4                       হিফজুল কুরআন            2980

In [241]:
total_students_col = df_valid_qaomi['total_students'].name

df_students_count_by_level = (
    df_valid_qaomi
    .groupby(highest_level_name_col)[total_students_col]
    .sum()
    .astype(int)
    .reset_index(name='total_students')
)

In [242]:
df_students_count_by_level.head()

                  highest_level_name  total_students
0        আল-মারহালাতুল মুতাওয়াসসিতাহ           72313
1  আল-মারহালাতুল সানাবিয়াতুল’ উলাইয়া           75316
2                  মারহালাতুল তাকমিল          193250
3                  মারহালাতুল ফযীলাত           78637
4                       হিফজুল কুরআন           28811

In [243]:
df_qaomi_combined = pd.merge(df_institution_count_by_level, df_teachers_count_by_level, on=df_institution_count_by_level.highest_level_name, suffixes=('', '_teachers'))

In [244]:
df_qaomi_combined = pd.merge(df_qaomi_combined, df_students_count_by_level, left_on=df_qaomi_combined.highest_level_name.name, right_on=df_students_count_by_level.highest_level_name.name, how='inner', suffixes=('', '_students'))

In [245]:
df_qaomi_combined.head()

,key_0,highest_level_name,total_institution,highest_level_name_teachers,total_teachers,total_students
0,আল-মারহালাতুল মুতাওয়াসসিতাহ,আল-মারহালাতুল মুতাওয়াসসিতাহ,1451,আল-মারহালাতুল মুতাওয়াসসিতাহ,12096,72313
1,আল-মারহালাতুল সানাবিয়াতুল’ উলাইয়া,আল-মারহালাতুল সানাবিয়াতুল’ উলাইয়া,1027,আল-মারহালাতুল সানাবিয়াতুল’ উলাইয়া,11242,75316
2,মারহালাতুল তাকমিল,মারহালাতুল তাকমিল,1067,মারহালাতুল তাকমিল,22114,193250
3,মারহালাতুল ফযীলাত,মারহালাতুল ফযীলাত,736,মারহালাতুল ফযীলাত,10941,78637
4,হিফজুল কুরআন,হিফজুল কুরআন,442,হিফজুল কুরআন,2980,28811

In [246]:
df_qaomi_combined.to_excel('output/quaomi-report.xlsx', index=False)